.navbar{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbarContainer{
    padding: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .navbarContainerBrand{
    padding:10px;
    border-radius: 50%;
    background-color: #EFF2F5;
    cursor: pointer;
  }

  .Card{
    position: absolute;
    left: calc(5% + 110px);
    top:50px;
    width: calc(90% - 110px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #EFF2F5;
    padding: 20px;
    border-radius: 20px;
}

.CardImg{
    height:200px;
    width:200px;
    border-radius:40%;
    align-self: center;
}

.CardBody{
    margin-left: 50px;
}

.CardTitle{
    font-weight: 600;
    font-size: 30px;
}

.Edit{
    position: absolute;
    right: 15px;
}

.HR{
    position: absolute;
    left:calc(5% + 110px);
    width: calc(90% - 110px);
    top:45%;
}

.AllotedSites{
    position: absolute;
    left:calc(5% + 110px);
    width: calc(90% - 110px);
    top:50%;
    background-color: #023c40;
    color: white;
    text-align: center;
    height: 50px;
    border-radius: 15px;
    font-size: 22px;
    line-height: 2;
}